@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(230, 230, 230);
  font-family: "Inter";
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 0.3em;
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #0762ff;
  border-radius: 1em;
  height: 0.3em;
  width: 0.3em;
}

@layer components {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
